<div class="w-[720px] mx-auto">
  <div class="text-2xl mb-2 text-blue-500">About <%= product.name %></div>
  <div>
    <h1 class="text-xl mb-4">Name: <%= product.name %></h1>
  </div>
  <div>
    <h1 class="text-xl mb-4">Price: <%= product.price %></h1>
  </div>
  <div>
    <h1 class="text-xl mb-4">Description: <%= product.description %></h1>
  </div>
</div